.formfield {
    margin-bottom: 10px;
}

label {
    font-size: 14px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

input:not([type="submit"]),
textarea {
    font-family: $font;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding: 10px 12px;
    box-shadow: none;
    background-color: #fff;
    border: 1px solid $black;
    border-radius: 5px;
    outline: none;

    &::placeholder {
        color: $black;
        opacity: .5;
    }
}

input:not([type="submit"]) {
    height: 40px;

    &:focus {}

}

textarea {
    height: 140px;
}