.list-theme {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
        position: relative;
        padding-left: 20px;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $theme;
        }
    }
}