.text-center {
    text-align: center !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.m {
    &t {
        &-0 {
            margin-top: 0 !important;
        }
    }

    &b {
        &-0 {
            margin-bottom: 0 !important;
        }
    }

    &l {
        &-auto {
            margin-left: auto !important;
        }
    }

    @media (min-width: 992px) {
        &t {
            &-lg-0 {
                margin-top: 0 !important;
            }
        }

        &b {
            &-lg-0 {
                margin-bottom: 0 !important;
            }
        }

        &l {
            &-lg-auto {
                margin-left: auto !important;
            }
        }
    }
}

.p {
    &t-0 {
        padding-top: 0 !important;
    }

    &b-0 {
        padding-bottom: 0 !important;
    }

    &y-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.p {
    &t {
        &-10 {
            padding-top: 10px !important;
        }

        &-20 {
            padding-top: 20px !important;
        }

        &-30 {
            padding-top: 30px !important;
        }

        &-40 {
            padding-top: 40px !important;
        }

        &-50 {
            padding-top: 50px !important;
        }

        &-60 {
            padding-top: 60px !important;
        }

        &-70 {
            padding-top: 70px !important;
        }

        &-80 {
            padding-top: 80px !important;
        }

        &-90 {
            padding-top: 90px !important;
        }

        &-100 {
            padding-top: 100px !important;
        }

        &-110 {
            padding-top: 110px !important;
        }

        &-120 {
            padding-top: 120px !important;
        }
    }

    &b {
        &-10 {
            padding-bottom: 10px !important;
        }

        &-20 {
            padding-bottom: 20px !important;
        }

        &-30 {
            padding-bottom: 30px !important;
        }

        &-40 {
            padding-bottom: 40px !important;
        }

        &-50 {
            padding-bottom: 50px !important;
        }

        &-60 {
            padding-bottom: 60px !important;
        }

        &-70 {
            padding-bottom: 70px !important;
        }

        &-80 {
            padding-bottom: 80px !important;
        }

        &-90 {
            padding-bottom: 90px !important;
        }

        &-100 {
            padding-bottom: 100px !important;
        }

        &-110 {
            padding-bottom: 110px !important;
        }

        &-120 {
            padding-bottom: 120px !important;
        }
    }

    @media (min-width: 992px) {
        &t {
            &-lg {
                &-10 {
                    padding-top: 10px !important;
                }

                &-20 {
                    padding-top: 20px !important;
                }

                &-30 {
                    padding-top: 30px !important;
                }

                &-40 {
                    padding-top: 40px !important;
                }

                &-50 {
                    padding-top: 50px !important;
                }

                &-60 {
                    padding-top: 60px !important;
                }

                &-70 {
                    padding-top: 70px !important;
                }

                &-80 {
                    padding-top: 80px !important;
                }

                &-90 {
                    padding-top: 90px !important;
                }

                &-100 {
                    padding-top: 100px !important;
                }

                &-110 {
                    padding-top: 110px !important;
                }

                &-120 {
                    padding-top: 120px !important;
                }
            }
        }

        &b {
            &-lg {
                &-10 {
                    padding-bottom: 10px !important;
                }

                &-20 {
                    padding-bottom: 20px !important;
                }

                &-30 {
                    padding-bottom: 30px !important;
                }

                &-40 {
                    padding-bottom: 40px !important;
                }

                &-50 {
                    padding-bottom: 50px !important;
                }

                &-60 {
                    padding-bottom: 60px !important;
                }

                &-70 {
                    padding-bottom: 70px !important;
                }

                &-80 {
                    padding-bottom: 80px !important;
                }

                &-90 {
                    padding-bottom: 90px !important;
                }

                &-100 {
                    padding-bottom: 100px !important;
                }

                &-110 {
                    padding-bottom: 110px !important;
                }

                &-120 {
                    padding-bottom: 120px !important;
                }
            }
        }
    }

    @media (min-width: 768px) {
        &t {
            &-md {
                &-10 {
                    padding-top: 10px !important;
                }

                &-20 {
                    padding-top: 20px !important;
                }

                &-30 {
                    padding-top: 30px !important;
                }

                &-40 {
                    padding-top: 40px !important;
                }

                &-50 {
                    padding-top: 50px !important;
                }

                &-60 {
                    padding-top: 60px !important;
                }

                &-70 {
                    padding-top: 70px !important;
                }

                &-80 {
                    padding-top: 80px !important;
                }

                &-90 {
                    padding-top: 90px !important;
                }

                &-100 {
                    padding-top: 100px !important;
                }

                &-110 {
                    padding-top: 110px !important;
                }

                &-120 {
                    padding-top: 120px !important;
                }
            }
        }

        &b {
            &-md {
                &-10 {
                    padding-bottom: 10px !important;
                }

                &-20 {
                    padding-bottom: 20px !important;
                }

                &-30 {
                    padding-bottom: 30px !important;
                }

                &-40 {
                    padding-bottom: 40px !important;
                }

                &-50 {
                    padding-bottom: 50px !important;
                }

                &-60 {
                    padding-bottom: 60px !important;
                }

                &-70 {
                    padding-bottom: 70px !important;
                }

                &-80 {
                    padding-bottom: 80px !important;
                }

                &-90 {
                    padding-bottom: 90px !important;
                }

                &-100 {
                    padding-bottom: 100px !important;
                }

                &-110 {
                    padding-bottom: 110px !important;
                }

                &-120 {
                    padding-bottom: 120px !important;
                }
            }
        }
    }

    @media (min-width: 568px) {
        &t {
            &-sm {
                &--10 {
                    padding-top: 10px !important;
                }

                &--20 {
                    padding-top: 20px !important;
                }

                &--30 {
                    padding-top: 30px !important;
                }

                &--40 {
                    padding-top: 40px !important;
                }

                &--50 {
                    padding-top: 50px !important;
                }

                &--60 {
                    padding-top: 60px !important;
                }

                &--70 {
                    padding-top: 70px !important;
                }

                &--80 {
                    padding-top: 80px !important;
                }

                &--90 {
                    padding-top: 90px !important;
                }

                &--100 {
                    padding-top: 100px !important;
                }

                &--110 {
                    padding-top: 110px !important;
                }

                &--120 {
                    padding-top: 120px !important;
                }
            }
        }

        &b {
            &-sm {
                &--10 {
                    padding-bottom: 10px !important;
                }

                &--20 {
                    padding-bottom: 20px !important;
                }

                &--30 {
                    padding-bottom: 30px !important;
                }

                &--40 {
                    padding-bottom: 40px !important;
                }

                &--50 {
                    padding-bottom: 50px !important;
                }

                &--60 {
                    padding-bottom: 60px !important;
                }

                &--70 {
                    padding-bottom: 70px !important;
                }

                &--80 {
                    padding-bottom: 80px !important;
                }

                &--90 {
                    padding-bottom: 90px !important;
                }

                &--100 {
                    padding-bottom: 100px !important;
                }

                &--110 {
                    padding-bottom: 110px !important;
                }

                &--120 {
                    padding-bottom: 120px !important;
                }
            }
        }
    }
}

.max-width {
    &--100 {
        max-width: 100px !important;
    }

    &--150 {
        max-width: 150px !important;
    }

    &--200 {
        max-width: 200px !important;
    }

    &--250 {
        max-width: 250px !important;
    }

    &--300 {
        max-width: 300px !important;
    }

    &--350 {
        max-width: 350px !important;
    }

    &--400 {
        max-width: 400px !important;
    }

    &--450 {
        max-width: 450px !important;
    }

    &--500 {
        max-width: 500px !important;
    }

    &--550 {
        max-width: 550px !important;
    }

    &--600 {
        max-width: 600px !important;
    }

    &--650 {
        max-width: 650px !important;
    }

    &--700 {
        max-width: 700px !important;
    }

    &--730 {
        max-width: 730px !important;
    }

    &--750 {
        max-width: 750px !important;
    }

    &--800 {
        max-width: 800px !important;
    }

    &--850 {
        max-width: 850px !important;
    }

    &--900 {
        max-width: 900px !important;
    }

    &--950 {
        max-width: 950px !important;
    }

    &--1000 {
        max-width: 1000px !important;
    }

    &--1050 {
        max-width: 1050px !important;
    }

    &--1100 {
        max-width: 1100px !important;
    }

    &--1150 {
        max-width: 1150px !important;
    }

    &--1200 {
        max-width: 1200px !important;
    }

    &--1250 {
        max-width: 1250px !important;
    }

    &--1300 {
        max-width: 1300px !important;
    }

    &--1350 {
        max-width: 1350px !important;
    }

    &--1400 {
        max-width: 1400px !important;
    }
}

.w-100 {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
}

.imgfit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.d {
    &-block {
        display: block !important;
    }

    &-none {
        display: none !important;
    }
}

.text-uppercase {
    text-transform: uppercase !important;
}

.img-parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 100px);
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}