.hmabout {
    padding: 0 0 36px;

    &__box {
        position: relative;
        margin-top: -97px;
        text-align: center;
        padding: 40px 85px;
        background-color: #fff;
        box-shadow: 0 -10px 15px rgba(#000, .06);
        border-radius: 4px;

        @media (max-width: 991px) {
            margin-top: -90px;
            padding: 36px 12px;
        }

        &-title {
            font-size: 23px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;

            @media (max-width: 991px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 19px;
            line-height: 147%;

            @media (max-width: 991px) {
                font-size: 17px;
            }
        }

        .btn {
            margin-top: 25px;
        }
    }
}